<div class="login-form recover-password-block">
  <div class="heading-box">
    <h1>Recover your password</h1>
    <p>Enter your registered email or username to reset your password</p>
  </div>
  <div class="login-group">
    <div class="form-group">
      <div class="floating-label">
        <input class="floating-input form-control" type="text" placeholder=" ">
        <label>Username or Email</label>
      </div>
    </div>
    <button onclick="sent-email.html" class="blue-btn">Recover password</button>
  </div>
</div>
