<div class="login-form">
  <div class="heading-box">
    <h1>Set A New Password</h1>
  </div>
  <div class="login-group">
    <div class="form-group">
      <div class="floating-label">
        <input class="floating-input form-control" type="text" placeholder=" ">
        <label>New Password</label>
        <span class="eye-icon"><img src="assets/images/eye-icon.png" alt="eye-icon"></span>
      </div>
    </div>
    <div class="form-group">
      <div class="floating-label">
        <input class="floating-input form-control" type="text" placeholder=" ">
        <label>Confirm Password</label>
        <span class="eye-icon"><img src="assets/images/eye-icon.png" alt="eye-icon"></span>
      </div>
    </div>
    <button class="blue-btn">Recover password</button>
  </div>
