<div class="login-form">
  <div class="heading-box">
    <h1>Security Question</h1>
    <p>Please answer the following question to recover your password</p>
  </div>
  <div class="login-group">
    <div class="form-group">
      <div class="floating-label">
        <input class="floating-input form-control" type="text" placeholder=" ">
        <label>Question 1</label>
      </div>
    </div>
    <div class="form-group">
      <div class="floating-label">
        <input class="floating-input form-control" type="text" placeholder=" ">
        <label>Answer</label>
      </div>
    </div>
    <button class="blue-btn">Recover password</button>
  </div>
</div>
